div.highlight
{
  /*background: #F8F9FE;*/
  border: 1px solid #777;
  padding:5px 5px 6px 5px;
  font-size:12px;
  margin-bottom:20px;
  -webkit-box-shadow: 3px 3px 7px #0a000a;
  -moz-box-shadow: 3px 3px 7px #0a000a;
  box-shadow: 3px 3px 7px #0a000a;
}

ul
{
  list-style-type:square;
}

pre, code
{
  margin-bottom:0px;
  font-family: 'Droid Sans Mono', monospace;
}

p
{
  margin-bottom:10px;
  font-size:1.1em;
}

h1
{
  font-size:1.5em;
  margin-bottom:10px;
}
h2
{
  font-size:1.3em;
  margin-bottom:10px
}
h3
{
  font-size:1.1em;
  margin-bottom:10px;
}
a
{
  color:#777;
}
a:hover
{
  color:black;
}

span.main_title
{
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: #ccc 1px 1px 2px;
}

div.section_title
{
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
  color: #000;
  text-shadow: #777 1px 1px 1px;
}
span.project_names
{
  font-size:1.1em;
}

#projects_list
{
  padding-top:1em;
}
#contacts_list
{
  padding-top:1em;
}
a.nav_links
{
  font-size: 1.5em;
  color: #777;
  text-decoration: none;
  padding-bottom:0.15em;
  border-bottom:1px dashed #777;
}

a.nav_links:hover
{
  color:black;
  border-bottom:1px dashed black;
}
div.post
{
  padding-top:1.2em;
}
div.posts
{
  padding-top:1.2em;
}
span.post_date
{
  font-size:1.3em;
}

a.title_link
{
  color:black;
  text-decoration:none;
  border-bottom:1px solid black;
}
a.title_link:hover
{
  color:#777;
  border-bottom:1px solid #777;
}
