<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{ page.title }} :: Serg Podtynnyi</title>
    <meta name="author" content="Serg Podtynnyi">
    <link href="http://feeds.feedburner.com/serg-podtynnyi" rel="alternate" title="Serg Podtynnyi" type="application/atom+xml" >
    <meta name="keywords" content="{{ page.tags | join:", " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/960.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/site.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container_12" >

      <div class="grid_10 prefix_1 suffix_1">
        <div style="padding-top:2em;">
          <span class="main-title">Serg Podtynnyi :</span>
          <span><a class="nav-links nav-links-hard" href="/" >home</a></span>&nbsp;
          <span><a class="nav-links" href="/#blog">blog</a></span>&nbsp;
          <span><a class="nav-links" href="/#projects">projects</a></span>&nbsp;
          <span><a class="nav-links" href="/#contacts">contacts</a></span>&nbsp;

        </div>
      </div>
      <div class="clear"></div>

      <div class="grid_10 prefix_1 suffix_1">
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://github.com/aristus/sweet-justice/raw/master/sweet-justice.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-399186-7']);
      _gaq.push(['_setDomainName', '.podtynnyi.com']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-399186-7', 'podtynnyi.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter3781555 = new Ya.Metrika({id:3781555,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/3781555" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>
