<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{ page.title }} :: Serg Podtynnyi</title>
    <meta name="author" content="Serg Podtynnyi">
    <link type="image/png" sizes="50x50" rel="icon" href="/favicon.png">
    <link href="/atom.xml" rel="alternate" title="Serg Podtynnyi" type="application/atom+xml" >
    <meta name="keywords" content="{{ page.tags | join:", " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/960.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container_12" >

      <div class="grid_10 prefix_1 suffix_1">
        <div style="padding-top:2em;">
          <span class="main-title">Serg Podtynnyi :</span>
          <span><a class="nav-links nav-links-hard" href="/" >home</a></span>&nbsp;
          <span><a class="nav-links" href="/#blog">blog</a></span>&nbsp;
          <span><a class="nav-links" href="/#projects">projects</a></span>&nbsp;
          <span><a class="nav-links" href="/links">links</a></span>&nbsp;
          <span><a class="nav-links" href="/#contacts">contacts</a></span>&nbsp;

        </div>
      </div>
      <div class="clear"></div>

      <div class="grid_10 prefix_1 suffix_1">
        {{ content }}
      </div>
      <div class="clear"></div>
      <div id='footer'>&copy;&nbsp;2010&ndash;2022&nbsp;&nbsp;podtynnyi.com&nbsp;</div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  </body>
</html>
