---
layout: default
---

<div class="post sweet-justice">

  <div style="margin-bottom:20px">
    <div class="post-date">{{ page.date | date_to_string }}</div>
    <h2 style="display:inline">{{ page.title }}</h2>
    <div class="post-tags">{{ page.tags | array_to_sentence_string }}</div>
  </div>
  {{ content }}
</div>
<br>
<br>

<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=82950f65-9dfc-4801-9e96-61dccb982031&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cdelicious%2Cstumbleupon%2Creddit%2Ctechnorati%2Cfriendfeed"></script>
<div id="disqus_thread"></div>
<script type="text/javascript">

  var disqus_identifier="{{ page.title }}";

(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://podtynnyi.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

