---
layout: default
---

<div class="post sweet-justice">

  <div style="margin-bottom:20px">
    <div class="post-date">{{ page.date | date_to_string }}</div>
    <h2 style="display:inline">{{ page.title }}</h2>
    <div class="post-tags">{{ page.tags | array_to_sentence_string }}</div>
  </div>
  {{ content }}
</div>
<br>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "82950f65-9dfc-4801-9e96-61dccb982031", doNotHash: true});</script>

<span class='st_twitter' displayText='Tweet'></span>
<span class='st_facebook' displayText='Facebook'></span>
<span class='st_pocket' displayText='Pocket'></span>
<span class='st_buffer' displayText='Buffer'></span>
<span class='st_evernote' displayText='Evernote'></span>
<span class='st_email' displayText='Email'></span>

<div id="disqus_thread"></div>
<script type="text/javascript">

  var disqus_identifier="{{ page.title }}";

(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'https://podtynnyi.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
